body {
  background-color: #eee;
}

* {
  font-family: 'Source Sans Pro';
}

.box {
  border: solid #3c8dbc;
  border-width: 1px;
  border-radius: 3px;
  margin: 10px 10px 10px 20px;
  padding-top: 50px;
  padding-bottom: 15px;
  position: relative;
  background: #fff;
}

.box:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
  background: #3c8dbc;
  padding-left: 15px;
}

.selectionButton {
  margin-top: 10px;
}

.boxHeader {
  position: absolute;
  top: 5px;
  color: #fff;
  font-size: 18px;
}

.navbar-brand {
  font-size: 16px;
}

#WordFrequencyInputCount1ID {
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
}

#WordFrequencyInputCount2ID {
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
}

#WordFrequencyInputCount3ID {
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
}

.list-group-item {
  font-size: 12px;
  padding: 5px;
  margin: 0px;
}
